@{
    ViewData["Title"] = "Home Page";
}

@* <partial name="_AlertMessage" />

<body class="bg-image" style="background-image: url('~/wwwroot/images/hinh-nen.jpeg');background-size: cover;">
    <div class="text-center">
        <h1 class="display-4">Xin chào</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</body> *@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/regular.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/solid.min.css">
    @* <link rel="icon" href="image/logo.png"> *@
</head>
<body>
    <div class="container">
        <main>
            <div class="home">
                <div class="home-content">
                    <p class="slogan"><b>|</b> FIND OUT WHICH WINE IS RIGHT FOR YOU <b>|</b></p>
                    <h1 class="title-home-content">Gwine will give you the correct choices</h1>
                    <div class="button-seedetail">
                        <a asp-area="" asp-controller="Home" asp-action="Wine">
                            <p>SEE DETAILS</p>
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

